# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
*.prof
coverage.html

# Output of the go coverage tool, specifically when used with LiteIDE
*.coverprofile

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env files
.env
.env.*

# IDEs and editors
.idea/
.vscode/

# Vim swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
*.swp
*.swo
Session.vim
*~

# Agent tooling
.agents/
